name: CI

on:
  push:

permissions:
  contents: read

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.7"
        cache: pip
    - name: Install dependencies
      run: pip install -r requirements.txt

  pytest:
    needs: setup
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3    
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.7"
        cache: pip
    - name: install dependencies
      run: |
        pip list
        pip install -r requirements.txt
    - name: pytest
      run: pytest
